body{
    background-color: #00cbcc;
    /* height: 90vh; */
    overflow-y: hidden; /* Hide vertical scrollbar */
    overflow-x: hidden; /* Hide horizontal scrollbar */
    padding: 0;
    margin: 0;
}
.caixadetexto{
    border:2px solid #666666;
    border-radius: 10px;
    height: 10%;
    width: 80%;
    /* position: relative;
    left: 460px;
    bottom: 20px; */
}
.botaosubmit{
    border:2px solid #666666;
    border-radius: 20px;
    width: 30px;
    height: 28px;
    /* position: relative;
    left: 1783px;
    bottom: 62.5px; */
}
.quadradomain{
    background-color: #dce0df;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
}
.nomeClasse{
    height: 100vh;
    width: 25%;
}
.arrumaImagem{
    display: flex;
    justify-content: center;
    align-items: flex-start;
}
.arrumaImagem img{
    width: 100%;
}
.flex{
    display: flex;
}
.chatMain{
    width: 100%;
    display: flex;
    align-items: flex-end;
}
.inputRecebe{
    width: 100%;
    direction: ltr;
}